.body-vignette {
    color: $text-color;
    background-color: $text-color;
    border-radius: 25px;
    aspect-ratio: 0.75;
    

    .box-image {
        width: 100%;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
        height: 80%;
        box-shadow: 0px 0px 10px $main-color;
    }

    .box-logo {
        display: flex;
        align-items: center;
        padding-left: 30px;
        height: 20%;
        

        img {
            max-height: 50%;
            max-width: 80%;
        }
    }
}

@media screen and (max-width: $breakpoint) {}